@model IEnumerable<DNekrasovDB.ModelView.DB.NewsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>News</h1>

@foreach (var item in Model)
{
    <div>
        <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
        <div>
            @Html.DisplayFor(modelItem => item.Body)
        </div>
    </div>
}
